#################################################################
# https://github.com/github/gitignore/blob/main/Maven.gitignore #
# 7f56496 on Dec 11, 2021                                       #
#################################################################

target/
